img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

h2, h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
}
h2 {
    font-size: 22px;
    margin: 30px auto 0px;
}
h3{
    font-weight: lighter;
    font-size: 18px;
    margin: 20px auto 50px;
}
.background {
    background-color: rgb(216, 226, 238);
    height: 100vh;
    display: flex;
    align-items: center;
}
.qr-code {
    width: 300px;
    height: 500px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 5%);
    
    
    
    
    
}

